name: Fetch

on:
  push:  
  schedule:
    - cron: "0 8,9,10,11,12,13,14,15,16,17,18,19,20 * * *"
      
jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Fetch results
        run: OPENSSL_CONF=openssl.cnf python3 getasn.py

      - name: Commit README.md
        run: |
          git config --local user.email "asn@example.com"
          git config --local user.name "ASN_TG"
          git add secs_ordered.txt
          git add README.md
          git add secs.txt
          git add notifications.out
          git commit -m "Update results"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
